<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax Error 2023 Project</title>
    link(rel='stylesheet',href='/style_index.css')
</head>

<body>
    <nav id="navbar">
        <figure id="logo">
            <img src="/index_pics/Main Logo.PNG" alt="">
        </figure>
        <ul>
            <li class="button-style"><a href="/tracker">Food Tracker</a></li>
            <li class="button-style"><a href="/login">Login/Sign up</a></li>
        </ul>
    </nav>
    <div id="mainContent">
        <div class="leftGrid">
            <img src="/index_pics/Main_Content.png" alt="" id="mainPic">
            <h3>Our Mission</h3>
            <p>Our Mission is to ensure that every person leades a healthy life. This app helps us achieve that by tracking our user's eating and lifestyle habits and then suggesting suitable lifestyle changes</p>
        </div>
        <div class="rightGrid">
            <h3>Health NEWS</h3>
            <ul>
                <li>
                    <h5 id="firstNewsHeading">Lorem ipsum, dolor sit</h5>
                    <p id="firstNewsPara">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, nulla.</p>
                </li>
                <li>
                    <h5 id="secondNewsHeading">amet consectetur </h5>
                    <p id="secondNewsPara">sit amet consectetur adipisicing elit. Modi, dolores!</p>
                </li>
                <li>
                    <h5 id="thirdNewsHeading">adipisicing elit, soluta </h5>
                    <p id="thirdNewsPara">dolor sit amet consectetur adipisicing elit. Soluta enim quas modi placeat corporis? Suscipit ea in veritatis </p>
                </li>
            </ul>
        </div>
        <footer class="belowGrid">
            <div class="firstFooter">
                <h6>Contact</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus, deleniti fuga excepturi nesciunt voluptas quis accusamus expedita repellendus, vel libero quos dolore, amet deserunt harum ipsam</p>
            </div>
            <div class="secondFooter">
                <h6>Menu</h6>
                <ul>
                    <li><a href="">Food Tracker</a></li>
                    <li><a href="/login">Login/Sign Up</a></li>
                </ul>
            </div>
            <div class="thirdFooter">
                <h6>Help and FAQs</h6>
                <ul>
                    <li><a href="">Lorem ipsum dolor sit?</a></li>
                    <li><a href="">Amet consectetur adipisicing?</a></li>
                    <li><a href="">Cumque aspernatur debitis enim, adipisci ?</a></li>
                </ul>
            </div>
            <div class="fourthFooter">
                <h6>Our Socials</h6>
                <figure id="upperIcon">
                    <img src="/index_pics/github_proj.png" alt="">
                </figure>
                <figure id="middleIcons">
                    <img src="/index_pics/fb_proj.png" alt="">
                    <img src="/index_pics/insta_proj.png" alt="">
                    <img src="/index_pics/linkedin_proj.png" alt="">
                </figure>
                <figure id="bottomIcon">
                    <img src="/index_pics/twi_proj.png" alt="">
                </figure>
            </div>
            <div class="bottomFooter">
                <h6>Your Wellness Dost</h6>
                <p>© YourWellnessDost a health awareness site. All rights reserved. Our website services, content, and products are for informational purposes only.</p>
            </div>
        </footer>
    </div>
    script(src='/script_index.js')
</body>
</html>