<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    link(rel='stylesheet',href='/style_tracker.css')
    script(src='/script_tracker.js')
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><img src="/tracker_pics/Main Logo.PNG" alt="" id="img"></li>
            <li><a href="/">BACK TO HOMEPAGE</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="left">
            <h3>ENTER THE NAME AND QUANTITY OF INGRIDIENTS PRESENT IN YOUR DISH BELOW:</h3>
            <textarea name="" id="ingredients" cols="20" rows="15" placeholder="Enter your recipe ingredients here"></textarea>
            <button id="btn">Submit</button>
        </div>
        <div class="right">
            <h3>NUTRITION TRACKER RESULTS</h3>
            <hr>
            <ul>
                <li>
                    <h5>CALORIES CONSUMED:</h5>
                    <p id="calories">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>TOTAL FAT:</h5>
                    <p id="fat">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>CHOLESTROL:</h5>
                    <p id="cholestrol">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>TOTAL CARBOHYDRATE:</h5>
                    <P id="carbs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
                </li>
                <li>
                    <h5>PROTEIN:</h5>
                    <p id="protein">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>CALCIUM:</h5>
                    <p id="calcium">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>VITAMIN D :</h5>
                    <p id="vitamin">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>IRON:</h5>
                    <p id="iron">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>POTASSIUM:</h5>
                    <p id="potassium">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </li>
                <li>
                    <h5>SODIUM:</h5>
                    <p id="sodium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>
            </ul>
            <hr id="bottom">
            <div class="remarks">
                <h4>Remarks:</h4>
                <p id="remarkPara">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit sint inventore eligendi fuga. Ipsa dignissimos exercitationem ipsam error alias consectetur debitis laboriosam corporis possimus.
                </p>
            </div>
        </div>
    </div>
</body>
</html>